<div>
  <span [ngClass]="{ complete: item.complete }">{{ item.label }}</span>
  <button type="button" (click)="OnChange.emit({ todo: item });">Done</button>
  <button type="button" (click)="OnRemove.emit({ todo: item });">Delete</button>
</div>
