body {
  margin: 0;
}

h1 {
  color: #369;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 0px 5px 0px;
  border-radius: 2px;
  /* position: fixed; */
  overflow: auto;
  background-color: #dddddd;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  text-align: center;
  display: block;
  color: black;
  padding: 10px 111px;
  text-decoration: none;
}

li:hover {
  background-color: rgb(255, 145, 0);
}

/* table {
  box-shadow: 0px 0px 5px 0px;
  margin: 150px 0px 0px 0px;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 0.5px solid #4609d4;
  text-align: center;
  padding: 8px;
  box-shadow: inset 0px 0px 2px 0px black;
}

td:active {
  box-shadow: 0px 0px 5px 0px black;
}

tr:nth-child(odd) {
  background-color: #dddddd;
} */

.todos-style {
  text-align: center;
  margin: 30px 0px 0px 0px;
  /* box-shadow: 0px 0px 5px 0px black; */
}
