<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a [routerLink]="['todos']">TodosList</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="todos-style">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
