<form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" style="text-align:center">
  <div class='box'>
    <label>
      <span>Full name</span>
      <!-- <input type="text" placeholder="Your full name" name="name" [(ngModel)]="user.name" required> -->
      <!-- <h1>{{ title | capitalize:true }} </h1> -->
      <input name="name" placeholder="Your name" required minlength="4" forbiddenName="bob" [(ngModel)]="user.name" #name="ngModel"
        pattern="[a-zA-Z][a-zA-Z]+" pattern1="[A-Z]+">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required" class="error">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength" class="error">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName" class="error">
          Name cannot be Bob.

        </div>
        <div *ngIf="name.errors.pattern" class="error">
          only alphbets
        </div>


      </div>
    </label>
    <div ngModelGroup="account" #userAccount="ngModelGroup">
      <label>
        <span>Email address</span>
        <input type="email" placeholder="Your email address" name="email" ngModel required>
      </label>
      <label>
        <span>Confirm address</span>
        <input type="email" placeholder="Confirm your email address" name="confirm" ngModel required>
      </label>
      <div *ngIf="userAccount.invalid && userAccount.touched" class="error">
        Both emails are required
      </div>
    </div>
    <label>
      <input type="text" name="mobile" placeholder="Your mobile number" required minlength="10" [(ngModel)]="user.mobile"
      #mobile="ngModel" pattern="[0-9]+">
    </label>
    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
      <div *ngIf="mobile.errors.required" class="error">
        number is requried
    </div>
    <div *ngIf="mobile.errors.minlength" class="error">
      number at least 10 digits.
  </div>
  <div *ngIf="mobile.errors.pattern" class="error">
    only numbers
  </div>
</div>

    <button type="submit" [disabled]="f.invalid">Sign up</button>
  </div>
</form>
