<!-- <form #f="ngForm" (ngSubmit)="update()">
  <input name="label" [(ngModel)]="todo.label" required>
  <button type="submit" [disabled]="!f.form.valid">Addtodo</button>
</form> -->


<form (ngSubmit)="update()" #f="ngForm">
  <input name="label" placeholder="EnterText" #in="ngModel" required [(ngModel)]="todo.label" minlength="4" pattern="[a-zA-Z][a-zA-Z]+">
  <div *ngIf="in.invalid && (in.dirty || in.touched)">
    <div *ngIf="in.errors.required"> Name is required. </div>
    <div *ngIf="in.errors.minlength"> Name must be at least 4 characters long. </div>
    <div *ngIf="in.errors.forbiddenName"> Name cannot be Bob. </div>
    <div *ngIf="in.errors.pattern"> Only alphabetsallowed. </div>
  </div>
  <button type="submit" [disabled]="!f.form.valid">Update</button>
</form>
