table {
  box-shadow: 0px 0px 5px 0px;
  margin: -15px 0px 0px 0px;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 0.5px solid #4609d4;
  text-align: center;
  padding: 8px;
  box-shadow: inset 0px 0px 2px 0px black;
}

td:active {
  box-shadow: 0px 0px 5px 0px black;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.tableclass {
  margin: 8px;
}
